@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8599fe;
  --accent: #2c2c2c;
  --foreground: #1e0e62;
}

@layer utilities {
  .menu-link {
    @apply text-base font-normal leading-[26px]  text-foreground;
  }
  .btn-primary {
    @apply outline-none border-none px-8 py-3 bg-[#8599FE] hover:bg-blue-500 text-white rounded-xl  text-lg font-medium transition-colors;
  }
}
